@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,700;1,700&family=Source+Sans+Pro:wght@200;300&display=swap")


/ * Color values */

$transparentFloralWhite1: #fbf8efb6 /* navbar */
$transparentFloralWhite2: #fbf8ef9c /* footer */
$floralWhite: #fbf8ef
$royalBlue: #415dfa
$gold: #ffcf60
$darkGreen: #204d2c
$tomato: #ff474a


/* Elements */ 

html, 
body 
  background-color: $floralWhite

  /* Height and width fallback for older browsers. */
  width: 100%
  height: 100%

  /* Set the height to match that of the viewport. */
  height: 100vh

  /* Remove any browser-default margins. */
  margin: 0


nav 
  background-color: $transparentFloralWhite1


a 
  color: $royalBlue


a:hover 
  text-decoration: none
  color: $darkGreen
 

a.navbar-brand:hover 
  color: $darkGreen


div input 
  width: 100%


span 
  font-weight: 700


hr 
  width: 80%
  padding-bottom: 50px


form 
  background-color: $floralWhite
  padding: 15px
  margin-bottom: 15px

  input 
    width: 100%


textarea 
  width: 100%


footer 
  text-align: center
  background-color: $transparentFloralWhite2
  color: $royalBlue
  padding: 15px 0px


/* Lisa"s styles */ 

.main 
  padding: 0px
  margin: 0px


.about 
  background-color: $gold
  color: $darkGreen
  padding-top: 50px

  h5
    font:
    family: "Source Sans Pro", sans-serif
    weight: 600
    letter-spacing: 4px
    text-transform: uppercase
    padding-bottom: 50px

    h4
      font: 
        family: "Noto Serif", serif
        size: 25px

    p 
      font:
        weight: 700


/* Custom classes */

.alertColor 
  color: $gold


.warningColor 
  color: $tomato


.noOverflow 
  overflow: hidden


.headerImg 
  background:
    image: url("./images/JungleSwap_Header.png")
    size: cover
    repeat: no-repeat
    attachment: fixed
  height: 800px


.headerImg h2 
  font:
    family: "Noto Serif", serif
    size: 60px
  letter-spacing: 1px
  text-align: center
  color: $floralWhite
  padding: 15px


@media only screen and (max-width: 768px) 
  .headerImg h2 
    font-size: 40px
    margin-left: -45px
  

.headerImg h5
  font:
    family: "Source Sans Pro", sans-serif
    weight: 600
  letter-spacing: 4px
  text-transform: uppercase
  color: $floralWhite
 

.image 
  width: 30rem
  object-fit: cover


@media only screen and (max-width: 768px) 
  .image 
    width: 21rem
  

.icon 
  height: 300px
  margin-left: 80px


.footer-row 
  background:
    image: url("./images/JungleSwap_Header.png")
    size: cover
    repeat: no-repeat
    top: 200px


.title 
  margin-top: 150px


.borderAround 
  margin-top: 500px


.padding 
  padding-top: 20px


.container 
  margin-bottom: 80px


.container h2 
  font:
    family: "Noto Serif", serif
    size: 60px
  letter-spacing: -1px
  color: $darkGreen


.miniPicSize 
  width: 6rem


.smallPicSize 
  height: 18rem
  object-fit: cover


.mediumPicSize 
  height: 22rem
  object-fit: cover


.cardSmallWidth 
  width: 18rem


.cardMediumWidth 
  width: 22rem


.biggerFontSize
  font: 
    family: "Noto Serif", serif
    size: 2rem
    style: italic
    weight: bold 700
  letter-spacing: 1px
  background-color: $floralWhite
  padding: 10px 50px


@media only screen and (max-width: 768px) 
  .biggerFontSize 
    font-size: 1rem
  

.smallWidth 
  width: 30%


.navbar-toggler   
  background-color: $royalBlue


.notFound 
  text:
    shadow: 5px black
    align: center
  overflow: hidden
  position: absolute
  display: flex
  justify-content: center /*centers items on the line (the x-axis by default)*/
  align-items: center /*centers items on the cross-axis (y by default)*/
  width: 100%
  height: 100vh
  color: $floralWhite
  background:
    image: url("./images/JungleSwap_Lost.jpg")
    size: cover
    repeat: no-repeat


.notFound h2 
  font:
    family: "Noto Serif", serif
    size: 2rem
  letter-spacing: 1px
  padding: 0px 10px


.notFound h3 
  font:
    family: "Source Sans Pro", sans-serif
    weight: 600
  letter-spacing: 4px
  text-transform: uppercase
  color: $floralWhite
  padding:
    top: 50px
    bottom: 0px


/* Bootstrap classes */

.navbar-dark
.navbar-brand 
  font:
    family: "Noto Serif", serif
    size: 20px
  color: $royalBlue


.btn 
  letter-spacing: 1px
  background-color: white
  border-radius: 0px
  margin-top: 20px


.btn:hover 
  background-color: $floralWhite
  color: black
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.164)


.form-control 
  border: none
  border-radius: 3px
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.164)
  margin-bottom: 40px


.card-body h5 
  font:
    family: "Noto Serif", serif
    size: 25px
    weight: 900
    align: center


/* Stripe */

#card-element 
  background-color: white
  border: none
  border-radius: 3px
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.164)


.result-message 
  font-weight: 600
  text-align: center
  color: rgb(79, 167, 100)


.hidden 
  display: none


.card-error 
  text-align: center
  color: rgb(238, 63, 20)


button:disabled 
  opacity: 0.5
  cursor: default
  border: none
  border-radius: 3px
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.164)
 

/* spinner/processing state, errors */
.spinner,
.spinner:before,
.spinner:after 
  border: none
  border-radius: 3px
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.164)


.spinner 
  color: $tomato
  margin: 0px auto