@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,700;1,700&family=Source+Sans+Pro:wght@200;300&display=swap")

$black: rgb(0,0,0)
$floral-white: rgb(251,248,239)
$transparent-floral-white1: rgba(251,248,239,0.7)
$transparent-floral-white2: rgba(251,248,239,0.6)
$royal-blue: rgb(65,93,260)
$gold: rgb(255,207,96)
$dark-green: rgb(32,77,44)
$tomato: rgb(255,71,74)

$background-image-path1: "./images/JungleSwap_Header.png"
$background-image-path2: "./images/JungleSwap_Lost.jpg"
$fixed-background-image-path: "./images/JungleSwap_Header.png"


html, 
body 
  background-color: $floral-white

  /* Height and width fallback for older browsers. */
  width: 100%
  height: 100%

  /* Set the height to match that of the viewport. */
  height: 100vh

  /* Remove any browser-default margins. */
  margin: 0

nav 
  background-color: $transparent-floral-white1

footer 
  text-align: center
  background-color: $transparent-floral-white2
  color: $royal-blue
  padding: 0.9375rem 0


/* Custom classes */

.plants-created-view
  &__headline
    font:
      family: "Noto Serif", serif
      size: 3.75rem
    letter-spacing: -0.0625rem
    color: $dark-green

.button-go-back
  &--width-medium 
    width: 30%

.select-language
  color: $royal-blue
  &:hover 
    text-decoration: none
    color: $dark-green
  &__select
    background-color: transparent
    color: inherit
    border: none
    &__option
      color: $royal-blue
      background-color: $floral-white




.is-warning 
  color: $gold

.is-danger
  color: $tomato

.is-display-block
  display: block

.is-no-overflow 
  overflow: hidden

.is-padding-top
  padding-top: 1.25rem

.is-text-align-center
  text-align: center

.is-text-bold 
  font-weight: 700

.is-word-break
  word-wrap: break-word

.is-no-border > *
  border: none !important

.is-link
  color: $royal-blue
  &:hover 
    text-decoration: none
    color: $dark-green

.is-image-size-small 
  width: 6rem

.is-image-size-medium 
  height: 18rem
  object-fit: cover

.is-image-size-large 
  height: 22rem
  object-fit: cover

.is-card-width-small 
  width: 18rem

.is-card-width-large 
  width: 22rem

.is-width-small 
  width: 18%
@media (max-width: 1024px)
  .is-width-small 
    width: 21%
@media only screen and (max-width: 768px)
  .is-width-small 
    width: 35%
@media (min-width: 320px) and (max-width: 480px)
  .is-width-small 
    width: 40%

.is-width-medium 
  width: 30%
@media (max-width: 1024px) 
  .is-width-medium 
    width: 35%
@media (max-width: 768px) 
  .is-width-medium 
    width: 50%

.is-width-full
  width: 100%

.is-icon 
  height: 18.75rem
  margin-left: 3.5rem
@media (max-width: 1024px)
  .is-icon 
    margin-left: 2.5rem
@media (max-width: 768px) 
  .is-icon 
    margin-left: 0
@media (max-width: 375px) 
  .is-icon 
    margin-left: 2rem

.is-background-image 
  width: 30rem
  object-fit: cover
@media only screen and (max-width: 768px) 
  .is-background-image 
    width: 21rem

.has-border-around
  margin-top: 31.25rem

.has-background-image 
  background:
    image: url($background-image-path1)
    size: cover
    repeat: no-repeat

.has-background-image2
  background:
    image: url($background-image-path2)
    size: cover
    repeat: no-repeat

.has-fixed-background-image
  background:
    image: url($fixed-background-image-path)
    size: cover
    repeat: no-repeat
    attachment: fixed

.form-style 
  background-color: $floral-white
  padding: 0.9375rem
  margin-bottom: 0.9375rem

.horizontal-rule
  width: 80%
  padding-bottom: 3.125rem

.about 
  background-color: $gold
  color: $dark-green
  padding-top: 3.125rem
  h5
    font:
    family: "Source Sans Pro", sans-serif
    weight: 600
    letter-spacing: 0.25rem
    text-transform: uppercase
    padding-bottom: 3.125rem
  h4
    font: 
      family: "Noto Serif", serif
      size: 1.5625rem
  p 
    font-weight: 700

.title-header 
  height: 50rem
  h2 
    font:
      family: "Noto Serif", serif
      size: 3.75rem
    letter-spacing: 0.0625rem
    text-align: center
    color: $floral-white
    padding: 0.9375rem
  h5
    font:
      family: "Source Sans Pro", sans-serif
      weight: 600
    letter-spacing: 0.25rem
    text-transform: uppercase
    color: $floral-white
@media only screen and (max-width: 768px) 
  .title-header
    h2 
      font-size: 2.5rem
@media (max-width: 480px) 
  .title-header
    h2
      margin-left: -2.8125rem

.text-field
  background-color: white
  border: 1px solid rgba(0,0,0,.125)
  border-radius: 0.25rem
  padding: 0.1rem

.search-container
  display: flex
  flex-direction: row
@media (max-width: 480px)
  .search-container
    flex-direction: column
  
.search-field
  width: 14rem
@media (max-width: 480px)
  .search-field
    width: auto

.location-filter
  width: 14rem
  margin-left: 2rem
@media (max-width: 768px)
  .location-filter
    width: auto
@media (max-width: 480px)
  .location-filter
    margin-left: 0

.loading-wait-spinner
  color: $dark-green

.title 
  margin-top: 9.375rem

/*.container 
  margin-bottom: 5rem
  h2 
    font:
      family: "Noto Serif", serif
      size: 3.75rem
    letter-spacing: -0.0625rem
    color: $dark-green*/

.error-modal
  position: fixed
  top: 0
  left: 0
  display: flex
  align-items: center
  justify-content: center
  flex-direction: column
  width: 100%
  height: 100%
  z-index: 1040
  background-color: rgba(0, 0, 0, 0.4)

.error-modal-box
  text-align: center
  width: 60%
  background-color: $floral-white
  padding: 3rem 2rem 2rem 2rem
  border: 1px solid $black
  h1
    font:
      family: "Noto Serif", serif
      size: 2.5rem
    letter-spacing: 0.0625rem
    margin-bottom: 2rem
  h2
    font:
      family: "Noto Serif", serif
      size: 2rem
    letter-spacing: 0.0625rem
    margin-bottom: 3rem
  h3
    font:
      family: "Source Sans Pro", sans-serif
      weight: 600
    letter-spacing: 0.25rem
    text-transform: uppercase
    margin-bottom: 3rem
@media (min-width: 320px) and (max-width: 480px)
  .error-modal-box
    width: 80%

.try-it-link
  font: 
    family: "Noto Serif", serif
    size: 1.8rem
    style: italic
    weight: bold 700
  letter-spacing: 0.1rem
  background-color: $floral-white
  padding: 0.5rem 2.6rem
@media only screen and (max-width: 768px) 
  .try-it-link 
    font-size: 0.9375rem
    padding: 0.5rem

.not-found 
  text:
    shadow: 5px $black
    align: center
  overflow: hidden
  position: absolute
  display: flex
  justify-content: center
  align-items: center
  width: 100%
  height: 100vh
  color: $floral-white
  h1 
    font:
      family: "Noto Serif", serif
      size: 2.5rem
    letter-spacing: 0.625rem
    padding: 0 0.625rem
  h2 
    font:
      family: "Noto Serif", serif
      size: 2rem
    letter-spacing: 0.625rem
    padding: 0 0.625rem
  h3 
    font:
      family: "Source Sans Pro", sans-serif
      weight: 600
    letter-spacing: 0.25rem
    text-transform: uppercase
    color: $floral-white
    padding:
      top: 3.125rem
      bottom: 0

.unauthorized 
  text:
    shadow: 5px $black
    align: center
  overflow: hidden
  position: absolute
  display: flex
  justify-content: center
  align-items: center
  width: 100%
  height: 100vh
  color: $floral-white
  h1 
    font:
      family: "Noto Serif", serif
      size: 2.5rem
    letter-spacing: 0.0625rem
    padding: 0 0.625rem
  h2 
    font:
      family: "Noto Serif", serif
      size: 2rem
    letter-spacing: 0.0625rem
    padding: 0 0.625rem
  h3 
    font:
      family: "Source Sans Pro", sans-serif
      weight: 600
    letter-spacing: 0.25rem
    text-transform: uppercase
    color: $floral-white
    padding:
      top: 3.125rem
      bottom: 0

/* Bootstrap classes */

.navbar-brand
  &:hover
    color: $dark-green

.navbar-dark
.navbar-brand 
  font:
    family: "Noto Serif", serif
    size: 1.25rem
  color: $royal-blue

.navbar-toggler   
  background-color: $royal-blue

.btn 
  letter-spacing: 0.0625rem
  background-color: white
  border-radius: 0
  margin-top: 1.25rem
  &:hover 
    background-color: $floral-white
    color: $black
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.164)

.form-control 
  border: none
  border-radius: 3px
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.164)
  margin-bottom: 2.5rem

.card-body
  h5 
    font:
      family: "Noto Serif", serif
      size: 1.5625rem
      weight: 900
      align: center


/* Stripe */

#card-element 
  background-color: white
  border: none
  border-radius: 3px
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.164)

.result-message 
  font-weight: 600
  text-align: center
  color: rgb(79, 167, 100)

.is-hidden 
  display: none

.card-button
  &:disabled 
    opacity: 0.5
    cursor: default
    border: none
    border-radius: 3px
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.164)

.card-error 
  text-align: center
  color: rgb(238, 63, 20)

/* Stripe: spinner/processing state, errors */
.spinner
.spinner:before
.spinner:after 
  border: none
  border-radius: 6px
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.164)

.spinner 
  color: $tomato
  margin: 0 auto
