@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,700;1,700&family=Source+Sans+Pro:wght@200;300&display=swap");
/* warm white - navbar */
/* warm white - footer */
/* warm white */
/* light blue */
/* yellow-orange */
/* dark green */
/* red */
/* Elements */
html,
body {
  background-color: #fbf8ef;
  /* Height and width fallback for older browsers. */
  width: 100%;
  height: 100%;
  /* Set the height to match that of the viewport. */
  height: 100vh;
  /* Remove any browser-default margins. */
  margin: 0;
}

nav {
  background-color: #fbf8efb6;
}

a {
  color: #415dfa;
}

a:hover {
  text-decoration: none;
  color: #204d2c;
}

a.navbar-brand:hover {
  color: #204d2c;
}

div input {
  width: 100%;
}

span {
  font-weight: 700;
}

hr {
  width: 80%;
  padding-bottom: 50px;
}

form {
  background-color: #fbf8ef;
  padding: 15px;
  margin-bottom: 15px;
}

form input {
  width: 100%;
}

textarea {
  width: 100%;
}

footer {
  text-align: center;
  background-color: #fbf8ef9c;
  color: #415dfa;
  padding: 15px 0px;
}

/* Lisa"s styles */
.main {
  padding: 0px;
  margin: 0px;
}

.about {
  background-color: #ffcf60;
  color: #204d2c;
  padding-top: 50px;
}

.about h5 {
  family: "Source Sans Pro", sans-serif;
  weight: 600;
  letter-spacing: 4px;
  text-transform: uppercase;
  padding-bottom: 50px;
}

.about h5 h4 {
  font-family: "Noto Serif", serif;
  font-size: 25px;
}

.about h5 p {
  font-weight: 700;
}

/* Custom classes */
.alertColor {
  color: #ffcf60;
}

.warningColor {
  color: #ff474a;
}

.noOverflow {
  overflow: hidden;
}

.headerImg {
  background-image: url("./images/JungleSwap_Header.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 800px;
}

.headerImg h2 {
  font-family: "Noto Serif", serif;
  font-size: 60px;
  letter-spacing: 1px;
  text-align: center;
  color: #fbf8ef;
  padding: 15px;
}

@media only screen and (max-width: 768px) {
  .headerImg h2 {
    font-size: 40px;
    margin-left: -45px;
  }
}

.headerImg h5 {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 600;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: #fbf8ef;
}

.image {
  width: 30rem;
  object-fit: cover;
}

@media only screen and (max-width: 768px) {
  .image {
    width: 21rem;
  }
}

.icon {
  height: 300px;
  margin-left: 80px;
}

.footer-row {
  background-image: url("./images/JungleSwap_Header.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-top: 200px;
}

.title {
  margin-top: 150px;
}

.borderAround {
  margin-top: 500px;
}

.padding {
  padding-top: 20px;
}

.container {
  margin-bottom: 80px;
}

.container h2 {
  font-family: "Noto Serif", serif;
  font-size: 60px;
  letter-spacing: -1px;
  color: #204d2c;
}

.miniPicSize {
  width: 6rem;
}

.smallPicSize {
  height: 18rem;
  object-fit: cover;
}

.mediumPicSize {
  height: 22rem;
  object-fit: cover;
}

.cardSmallWidth {
  width: 18rem;
}

.cardMediumWidth {
  width: 22rem;
}

.biggerFontSize {
  font-family: "Noto Serif", serif;
  font-size: 2rem;
  font-style: italic;
  font-weight: bold 700;
  letter-spacing: 1px;
  background-color: #fbf8ef;
  padding: 10px 50px;
}

@media only screen and (max-width: 768px) {
  .biggerFontSize {
    font-size: 1rem;
  }
}

.smallWidth {
  width: 30%;
}

.navbar-toggler {
  background-color: #415dfa;
}

.notFound {
  text-shadow: 5px black;
  text-align: center;
  overflow: hidden;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  color: #fbf8ef;
  background-image: url("./images/JungleSwap_Lost.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.notFound h2 {
  font-family: "Noto Serif", serif;
  font-size: 2rem;
  letter-spacing: 1px;
  padding: 0px 10px;
}

.notFound h3 {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 600;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: #fbf8ef;
  padding-top: 50px;
  padding-bottom: 0px;
}

/* Bootstrap classes */
.navbar-brand {
  font-family: "Noto Serif", serif;
  font-size: 20px;
  color: #415dfa;
}

.btn {
  letter-spacing: 1px;
  background-color: white;
  border-radius: 0px;
  margin-top: 20px;
}

.btn:hover {
  background-color: #fbf8ef;
  color: black;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.164);
}

.form-control {
  border: none;
  border-radius: 3px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.164);
  margin-bottom: 40px;
}

.card-body h5 {
  font-family: "Noto Serif", serif;
  font-size: 25px;
  font-weight: 900;
  font-align: center;
}

/* Stripe */
#card-element {
  background-color: white;
  border: none;
  border-radius: 3px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.164);
}

.result-message {
  font-weight: 600;
  text-align: center;
  color: #4fa764;
}

.hidden {
  display: none;
}

.card-error {
  text-align: center;
  color: #ee3f14;
}

button:disabled {
  opacity: 0.5;
  cursor: default;
  border: none;
  border-radius: 3px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.164);
}

/* spinner/processing state, errors */
.spinner,
.spinner:before,
.spinner:after {
  border: none;
  border-radius: 3px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.164);
}

.spinner {
  color: #ff474a;
  margin: 0px auto;
}
/*# sourceMappingURL=App.css.map */